<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- Common libs only. The rest are handled by require.js (Included in a _Layout) -->
    <script src="Scripts/libs/require.js"></script>
    <script src="Scripts/require-config.js"></script>

    <!-- The app file for this one particular module -->
    <script src="Scripts/apps/ItemsApp.js"></script>

    <!-- Common Stylesheets (Included in a _Layout) -->
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="Content/angular-cloak.css" rel="stylesheet" />
	
	
	<!-- page style -->
	<style>
		.profit{
			background-color: #9F9;
		}
	
		.nonprofit{
			background-color: #F99;
		}
		
		img{
			max-width: 50px;
		}
		
		td{
			text-align: center;
		}
		
		td.left{
			text-align: left;
		}
		
	</style>
	
    <title>GW2 T6 Promotion</title>
</head>
<body ng-controller="ItemsController">
    <div class="container">
        <div class="row" ng-show="!Loaded">
            <div class="well"><h4>Loading, hold your horses...</h4></div>
        </div>
        <div class="row" ng-cloak ng-show="Loaded">
            <div class="col-sm-12">
                <div class="well">
                    <button type="button" class="btn btn-primary" ng-click="refresh()">Refresh</button>
                </div>
            </div>
        </div>
        <div class="row" ng-cloak ng-show="Loaded">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>T5</th>
						<th>T6</th>
						<th>Dust</th>
						<th>Result</th>
						<th>Instant Cost</th>
						<th>Selling Result</th>
						<th>Profit</th>
						<th>Profit - 6</th>
						<th>Profit - 5</th>
					</tr>
				</thead>
				<tbody ng-repeat="recipe in recipies | orderBy:'-totalSellingProfit'">
					<tr>
						<td class="left">{{recipe.name}}</td>
						<td>
							<img src="{{recipe.ingredients[0].item.icon}}" />
							<br/>
							<p>{{recipe.ingredients[0].item.name}} x{{recipe.ingredients[0].quantity}}</p>
						</td>
						<td>
							<img src="{{recipe.ingredients[1].item.icon}}" /> 
							<br/>
							<p>{{recipe.ingredients[1].item.name}} x{{recipe.ingredients[1].quantity}}</p>
						</td>
						<td>
							<img src="{{recipe.ingredients[2].item.icon}}" /> 
							<br/>
							<p>{{recipe.ingredients[2].item.name}} x{{recipe.ingredients[2].quantity}}</p>
						</td>
						<td>
							<img src="{{recipe.result.item.icon}}" /> 
							<br/>
							<p>{{recipe.result.item.name}} x{{recipe.result.quantity}}</p>
						</td>
						
						<td>{{recipe.totalBuyInstantPrice}}</td>
						<td>{{recipe.totalSellingResult}}</td>
						<td ng-class="(recipe.totalSellingProfit >= 0) ? 'profit' : 'nonprofit'">{{recipe.totalSellingProfit}}</td>
						<td ng-class="(recipe.totalSellingProfitMinusOne >= 0) ? 'profit' : 'nonprofit'">{{recipe.totalSellingProfitMinusOne}}</td>
						<td ng-class="(recipe.totalSellingProfitMinusTwo >= 0) ? 'profit' : 'nonprofit'">{{recipe.totalSellingProfitMinusTwo}}</td>
					</tr>
				</tbody>
			
			</table>
		
        </div>
        
    </div>
</body>
</html>
